/* come back to this */

/*mobile*/
@media screen and (min-width:0) and (max-width:425px){
    ul.list a{
        display:none;
    }
    header nav #hambo{
        display: block;
    }


    /*tablet*/
@media screen and (min-width:426px) and (max-width:1439) {
   ul.list{
       display: block;
   }
   header nav #hambo{
    display: none;
}
 }
}


/*desktop */
@media screen and (min-width:1440px) {
    ul.list { 
        display: block;
    }
    header nav #hambo{
        display: none;
    }
}




    

