/* come back to this */

/*mobile*/
@media screen and (min-width:0) and (max-width:425px){
    nav ul li {
        display:block;
    }
 /* section {display: none !important;}
} */

    /*tablet*/
@media screen and (min-width:426px) and (max-width:1439) {
 div.contact {
     display: none;
    
 }
}


/*desktop */
@media screen and (min-width:1440px) {
    nav i.fas.fa-bars { 
        display: none;
    }
}

}



    

